html {
  scroll-behavior:smooth;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  
  /* ヘッダー */
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    padding: 20px 0 0 0;
  }
  
  header a {
    color: #000000;
  }
  
  .menu {
    margin: 0 50px 0 0;
  }
  
  /* トップラッパー */
  .top-wrapper {
    padding: 200px 0 200px;
    background-image: url("../src/img/top_photo.jpeg");
    background-size: cover;
    background-position: 50% 50%;
    color: white;
    text-align: center;
    background-position: center;
    margin-top: 65px;
  }
  
  .top-wrapper h1 {
    opacity: 1;
    font-size: 45px;
    letter-spacing: 5px;
  }
  
  .top-wrapper p {
    opacity: 0.9;
  }
  
  #hello {
    animation-name: fadein-hello;
    animation-duration: 2s;
}
  
  #myname {
    animation-name: fadein-myname;
    animation-duration: 2s;
  }

  @keyframes fadein-hello {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadein-myname {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  /* introductionラッパー */
  .introduction-wrapper {
    padding: 50px 0;
    text-align: center;
  }
  
  .introduction-wrapper img {
    width: 200px;
  height: auto;
}

.device-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
}

.device-item {
  width: 50%;
}

.device-item p {
  font-size: 16px;
}

.device-logo {
  font-size: 100px;
}

.tab .now-showing {
  display: none;
}

.sp .now-showing {
  display: none;
}

/* aboutmeラッパー */
.aboutme-wrapper {
  background-color: #f7f7f7;
  text-align: center;
  padding: 50px 0 50px;
}

.profile-area {
  background-color: #ffffff;
  border-radius: 1px;
  width: 100%;
  margin: 50px 0;
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.7);
  padding: 20px 0 50px;
}

.profile {
  display: flex;
  padding: 20px 20px;
  justify-content: center;
}

.icon {
  width: 20%;
  margin: auto 0;
  text-align: center;
}

.icon .fas {
  font-size: 100px;
}

.description {
  width: 85%;
  justify-content: initial;
  text-align: left;
}

/* 経歴セクション */
.cv {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 0;
}

.cv-button .btn {
  width: 100%;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 18px;
  border: solid 3px #000000;
  background-color: #ffffff;
}

.cv-list {
  cursor: pointer;
  width: 900px;
  margin: 50px auto;
  padding-bottom: 0px;
}

.cv-button {
  display: inline-block;
  width: 30%;
  padding: 10px 25px;
}

.cv-item h4 {
  text-align: center;
  font-size: 18px;
}

.cv-detail {
  display: block;
  text-align: left;
}

.cv-detail p {
  font-size: 16px;
}

/* worksラッパー */
.works-wrapper {
  padding: 50px 0 50px;
  text-align: center;
}

.works-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding: 20px 0;
}

.works-item {
  width: 50%;
  margin-bottom: 50px;
}

.works-item img {
  max-width: 450px;
  max-height: 250px;
  box-shadow: 0 0 10px #000000;
}

.works-item img:hover {
  box-shadow: 0 0 20px #000000;
  transform: scale(1.1);
  transition-duration: 0.3s;
  cursor: pointer;
}
 
/* 成果物モーダル */
.modal {
  display: block;
  max-width: 1170px;
  width: 100%;
  height: 500px;
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.7);
  padding: 50px 25px;
  z-index: 100;
}

/* クローズボタン */
.fa-times-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-box {
  display: flex;
  justify-content: space-around;
}

.modal-description {
  width: 35%;
}

.modal-photo {
  text-align: center;
  width: 65%;
}

.modal-description p {
  font-size: 14px;
}

.languages {
  padding: 30px 0 0;
}

.modal-photo {
  padding: 20px 0;
  align-content: center;
}

.modal-photo img {
  width: 700px;
  height: auto;
  box-shadow: 0 0 4px #070707;
}

/* contactラッパー */
.contact-wrapper {
  padding: 50px 0;
  text-align: center;
  background-color: #f7f7f7;
}

.contact-form {
  background-color: #ffffff;
  border-radius: 1px;
  width: 100%;
  margin: 50px 0;
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.7);
  padding: 50px 0 50px;
}

.form-box {
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-box > li {
  padding: 20px 0px;
}

.label-item {
  flex: 30%;
  text-align: center;
}

.input-item {
  width: 70%;
  text-align: start;
}

input#email {
  width: 250px;
  height: 20px;
  border: solid 1px #000000;
}

textarea#text {
  width: 500px;
  height: 100px;
  border: solid 1px #000000;
}

input#submit {
  width: 300px;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 16px;
  border: solid 3px #000000;
  background-color: #ffffff;
}

.err-msg {
  color: crimson;
  font-size: 10px;
}

.submitted {
  padding: 50px 0;
  font-size: 20px;
  font-weight: bold;
}

/* フッター */
footer {
  width: 100%;
  background-color: #ffffff;
  padding: 100px 0;
  text-align: center;
}

